@media only screen and (min-width: 480px) {
	.orders {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}
}

@media only screen and (min-width: 768px) {
	.orders {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

}

@media only screen and (min-width: 992px) {
	.orders {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
	}

}

@media only screen and (min-width: 1024px) {


}

@media only screen and (min-width: 1200px) {


}