* {
/*	border: 1px dotted;*/
}
body {
	margin: 0;
	font-family: arial;
	font-size: 16px;
	color: #c82330;
}
.bold {
	font-weight: bold;
}
a {
	text-decoration: none;
}

.tables {
	display: grid;
	grid-gap: 3px;
}

.container {
	width: 80%;
	margin: auto;
}

.three-cols {
	grid-template-columns: 1fr 1fr 1fr;
}

.five-cols {
  grid-template-columns: repeat(5, 1fr);
}

.block {
	padding: 3px;
}
.centered {
	text-align: center;
/*	margin: auto;*/
}
.bttn {
	border: 1px solid;
	padding: 12px 16px;
}
a.bttn {
	line-height: 50px;
}
button.bttn {
	background-color: white;
	font-size: 16px;
}

button.bttn.red{
	/*color: #c82330;*/
}
.bttn:hover, .bttn>b:hover {
	background-color: red;
	color: white;
	cursor: pointer;
}

.circular {
	border-radius: 30px;	
}



.blue, .blue > * {
	border-color: blue;
}

.red, .red > * {
	border-color: #c82330;
	color: #c82330; //paku red
}

.red-inverse {
	color: white;
	background-color: #c82330;
}

.red-inverse:hover {
	background-color: #c81515;
}
.bttn-ok {
	margin: auto;
}

.paku-forms {
	padding: 5px;
	/*border: 1px solid;*/
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.paku-forms:focus {
	outline-color: #c82330;
	box-shadow: 3px 3px 14px 2px #c82330;
}

.paku-forms label, .paku-forms input, .paku-forms select, .paku-forms div>a.bttn {
	box-shadow: inset 3px 3px 14px 2px #c82330;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.paku-forms a.bttn {
	display: inline-block;
	margin: auto;
    vertical-align: -webkit-baseline-middle;
}
.paku-forms input[type=submit] {
    padding: 19px 30px;
}
.paku-forms input[type=submit]:hover {
	cursor: pointer;
}

.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.flavor, .drink {
	padding: 5px;
	display: block;

}
.flavor-name {
	display: block;
  padding: 10px;
  border: 1px solid;
  border-radius: 25px;
}

/************/

div.flavor-name>label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

div.flavor-name>label input {
  position: absolute;
  top: -20px;
}

.flavor-name>input:checked + span {
    background-color:#911;
    color:#fff;
}

/**********/

.qty-selection {
	display: none;
}

.qty-selection>div>label {
    padding: 20px 0;
}

input.order_input_Others {
    margin: 20px 0;
    padding: 5px;
    /* border: 1px solid; */
    border-radius: 5px;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
/*  background: #40e0d0;*/
  background: #c82330;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  /*background: #40e0d0;*/
  background: #c82330;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

.submit-form {
	margin: 40px;
}

.orders {
  display: grid;
  grid-template-columns: 100%;
}
.boxes {
  margin: 10px 0;
  border: 1px solid #c82330;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px gray;
}


#paku_order_main fieldset {
  border: none;
}



/* -------------- copied from bootstrap -------------- */

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
